/* Add your own styles */

header 
{ 
    background-color: #000000; /* Dark blue background */ 
    padding: 10px; 
    display: flex; 
    align-items: center; 
} 

header h1 
{ 
    color:  rgb(129, 159, 224); 
    font-family: Arial, sans-serif; 
    font-size: 15px; margin: 0; 
}

header img 
{ 
    width: 50px; /* Adjust the size of the dolphin icon */ 
    margin-right: 10px; 
}

main
{
    text-align: center;
}

main h2
{
    color: rgb(129, 159, 224);
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
}

main button
{
    background-color: rgb(129, 159, 224);
    color: rgb(12, 12, 11);
    border-radius: 5px;
}

button
{
    width: 90px;
    height: 45px;
}

